body {
  font-family: "Arial", sans-serif; /*fonte página toda*/
  margin: 0; /* Remove margens padrão do navegador */
  padding: 0; /* Remove preenchimento padrão do navegador */
  background-color: #f4f4f4; /* Define a cor de fundo da página */
} /*CORPO TODO DA PÁGINA*/

header {
  background-color: #d4af37; /* Define a cor de fundo do cabeçalho */
  color: white; /* Define a cor do texto no cabeçalho */
  display: flex; /* Define o cabeçalho como um contêiner flexível */
  align-items: center; /* Alinha verticalmente os itens no centro do cabeçalho */
  justify-content: space-between;
  word-spacing: 10px;
  height: 41px; /* Define a altura do cabeçalho */
} /*CABEÇALHO 1*/

.header-container {
  display: flex; /* Coloca o logotipo e a barra de pesquisa lado a lado */
  align-items: center; /* Alinha verticalmente os itens */
  margin: 0px 0; /* Margem em cima e embaixo do header */
  margin-bottom: 70px;
  padding-right: 20px; /* Adiciona preenchimento à direita para evitar que o conteúdo fique colado na borda */
}

.logo-container {
  margin-left: 110px;
  display: flex; /* Permite que o logotipo seja flexível */
  align-items: center; /* Alinha o logo verticalmente no centro */
  margin-right: 150px; /* Adiciona espaço entre o logo e a barra de pesquisa */
}

.logo-container img {
  height: 100px;
  width: 100px;
  transition: transform 0.3s;
}
.logo-container img:hover {
  transform: scale(1.1); /* Aumenta a escala da logo ao passar o mouse */
}

.search-container {
  margin-left: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Adiciona sombra à barra de pesquisa */
}

.input-text {
  width: 100%;
  padding: 10px 40px 10px 15px; /* Espaçamento interno, reserva espaço para a lupa */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none; /* Remove o contorno ao focar */
}

.lupa {
  position: absolute;
  right: 2px; /* Posiciona a lupa à direita dentro da barra de pesquisa */
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  pointer-events: auto; /* Permite interação com a lupa */
  transition: transform 0.2s; /* Transição suave ao aplicar a escala */
}

.lupa:active {
  transform: translateY(-50%) scale(1.2); /* Aumenta a escala da lupa quando clicada */
}

.lupa img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: contain; /* Mantém a proporção da imagem */
}

.account-container {
  display: flex; /* Usa flexbox para alinhar os itens */
  align-items: center; /* Alinha verticalmente os itens no centro */
  margin-left: 80px; /* Move o container para a direita */
}

.account,
.cart {
  display: flex; /* Usa flexbox para alinhar ícones e texto */
  align-items: center; /* Alinha verticalmente os itens no centro */
  margin-left: 20px; /* Espaço entre os itens */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
}
.cart-link {
  text-decoration: none; /* Remove o sublinhado */
  color: inherit; /* Mantém a cor original do texto */
}

.cart-link:visited,
.cart-link:link,
.cart-link:active {
  color: inherit; /* Remove a cor azul dos links */
  text-decoration: none; /* Garante que não tenha sublinhado */
}

.account:hover,
.cart:hover {
  color: #d4af37; /* Muda a cor do texto para dourada ao passar o mouse */
}

.icon {
  width: 35px; /* Define uma largura padrão para os ícones */
  height: 20px; /* Define uma altura padrão para os ícones */
  margin-right: 5px; /* Espaço entre o ícone e o texto */
}

.account:hover .icon,
.cart:hover .icon {
  filter: brightness(0) saturate(100%) invert(59%) sepia(73%) saturate(419%)
    hue-rotate(354deg) brightness(91%) contrast(93%); /* Muda a cor do ícone para dourada ao passar o mouse */
}

.header2 {
  background-color: #d4af37; /* Define a cor de fundo do segundo cabeçalho */
  color: white; /* Define a cor do texto no segundo cabeçalho */
  padding: 5px; /* Adiciona espaço interno ao cabeçalho */
  padding-left: 90px;
  display: flex; /* Define como um contêiner flexível */
  justify-content: space-between; /* Distribui os itens com espaço igual entre eles */
  align-items: center; /* Alinha verticalmente os itens no centro */
  margin-top: -65px; /* Diminui o espaço entre os cabeçalhos */
} /* CABEÇALHO 2 */

/* Estilo básico do menu */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  position: relative;
}

nav ul li a {
  text-decoration: none;
  padding: 10px;
  display: block;
  color: #000;
}

/* Estilo do submenu */
.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  padding: 0;
  margin: 0;
  list-style: none;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.submenu li a {
  padding: 10px;
  color: #000;
  display: block;
  white-space: nowrap;
}

/* Mostrar o submenu ao passar o mouse */
nav ul li:hover .submenu {
  display: block;
}
.input-text {
  padding: 10px; /* Adiciona preenchimento interno ao campo de entrada */
  border-radius: 8px; /* Arredonda as bordas do campo de entrada */
  border: none; /* Remove a borda padrão */
  width: 500px; /* Define a largura do campo de entrada */
  height: 25px; /* Define a altura do campo de entrada */
} /* TEXTO BARRA DE PESQUISA - Estilo do campo de texto da barra de pesquisa */

nav ul {
  padding-right: 100px;
  list-style-type: none; /* Remove os marcadores padrão da lista */
  display: flex; /* Define a lista como um contêiner flexível */
} /* NAVEGAÇÃO - Remove estilo padrão da lista e define o alinhamento à direita */

nav ul li {
  margin: 15px; /* Define a margem entre os itens do menu */
} /* NAVEGAÇÃO */

nav ul li a {
  color: white; /* Define a cor dos links como branca */
  font-size: 13px; /* Define o tamanho da fonte dos links */
  text-decoration: none; /* Remove o sublinhado dos links */
  font-weight: verdana; /* Define a fonte dos links */
} /* NAVEGAÇÃO - Estilo dos links no menu, cor branca e fonte */

.container {
  display: flex; /* Define o layout como flexível */
  padding: 20px; /* Adiciona espaço interno ao contêiner */
} /* CONTEINER - Exibe o layout em flex para o conteúdo principal com padding */

.sidebar {
  width: 220px; /* Define a largura da barra lateral */
  background-color: #fff; /* Define a cor de fundo da barra lateral */
  padding: 15px; /* Adiciona espaço interno à barra lateral */
  border-radius: 10px; /* Arredonda as bordas da barra lateral */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adiciona sombra à barra lateral */
  margin-right: 20px; /* Adiciona margem à direita da barra lateral */
} /* BARRA LATERAL - Define a largura e estilo da barra lateral com sombra */

.sidebar h2 {
  color: #4a3622; /* Define a cor dos títulos da barra lateral como dourada */
} /* TÍTULOS BARRA LATERAL ESQUERDA - Cor dourada para os títulos */

.sidebar ul {
  list-style-type: none; /* Remove marcadores padrão da lista na barra lateral */
  padding: 0; /* Remove preenchimento padrão da lista */
} /* LISTA BARRA LATERAL ESQUERDA - Remove estilo padrão da lista */

.sidebar ul li {
  margin: 10px 0; /* Define a margem entre itens da lista */
} /* LISTA BARRA LATERAL ESQUERDA - Margem entre itens da lista */

.sidebar ul li a {
  color: #333; /* Define a cor dos links na barra lateral */
  text-decoration: none; /* Remove sublinhado dos links */
} /* LISTA BARRA LATERAL ESQUERDA - Cor e estilo dos links */

.sidebar ul li a:hover {
  border-radius: 8px;
  background-color: #d4af37; /* Fundo dourado ao passar o mouse */
  color: white; /* Texto branco */
  padding: 5px; /* Um pouco de preenchimento para melhorar a aparência */
}

.filter {
  margin-top: 20px; /* Adiciona margem superior aos filtros na barra lateral */
} /* FILTROS - Margem superior dos filtros na barra lateral */

.filter h3 {
  margin: 10px 0; /* Define a margem dos títulos de filtros */
} /* TÍTULOS FILTROS - Define a margem dos títulos de filtros */

.loja {
  flex: 1; /* Ajusta o espaço disponível para o conteúdo da loja */
} /* CONTEÚDO PRINCIPAL LOJA - Ajusta o espaço disponível da loja principal */

.banner {
  margin-bottom: 20px; /* Adiciona margem abaixo do banner */
  overflow: hidden; /* Esconde partes da imagem que ultrapassam a área definida */
}

.banner img {
  width: 1150px; /* Ajusta a largura para preencher o contêiner pai */
  border-radius: 8px;
  height: 100px; /* Mantém a proporção da imagem */
  max-height: 400px; /* Aumenta a altura máxima do banner para ocupar mais espaço verticalmente */
  object-fit: cover; /* Cobre a área do banner sem distorcer a imagem */
}

.ordenar-por {
  display: flex;
  justify-content: flex-end; /* Alinha o seletor à direita */
  margin: 5px 33px 5px 0; /* Define uma margem para alinhar ao conteúdo dos produtos */
  align-items: center;
}
.ordenar-por h2 {
  margin: 0; /* Remove a margem padrão */
  color: #4a3622; /* Cor dourada para o título */
  font-size: 24px; /* Tamanho da fonte do título */
  margin-right: 645px; /* Adiciona um espaço entre o título e o seletor */
}
.ordenar-por label {
  font-size: 16px; /* Aumenta o tamanho da fonte */
  margin-right: 10px;
  color: #333;
}

.ordenar-por select {
  padding: 5px 5px; /* Aumenta o preenchimento interno */
  font-size: 13px; /* Aumenta o tamanho da fonte */
  border-radius: 5px;
  border: 1px solid #d4af37; /* Borda dourada */
  color: #555;
  background-color: #fff;
  cursor: pointer;
  position: relative; /* Mantém o contêiner posicionado corretamente */
  box-shadow: 0 0 4px rgba(212, 175, 55, 0.5);
  outline: none;
}

.scroll-top {
  position: fixed; /* Fixa a posição da seta na página */
  bottom: 20px; /* Afasta do rodapé */
  right: 20px; /* Afasta da borda direita */
  background-color: #d4af37; /* Fundo dourado */
  color: white; /* Cor do ícone */
  padding: 10px 15px;
  border-radius: 50%; /* Arredonda o botão */
  cursor: pointer; /* Mostra o cursor de mão ao passar */
  box-shadow: 0 0 4px rgba(212, 175, 55, 0.5); /* Brilho sutil */
  text-align: center;
  font-size: 24px; /* Tamanho da seta */
  transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */
}

.scroll-top:hover {
  background-color: #cda03b; /* Cor ao passar o mouse */
}

.scroll-top a {
  color: white; /* Cor da seta */
  text-decoration: none; /* Remove o sublinhado */
}

.produtos {
  display: grid; /* Define o layout como grade */
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Define as colunas da grade */
  gap: 20px; /* Define o espaço entre os itens da grade */
  justify-content: center; /* Centraliza os itens da grade horizontalmente */
  padding: 20px; /* Adiciona um pouco de preenchimento ao redor da grade */
  margin: 0 auto; /* Centraliza a grade na página */
} /* PRODUTOS - Exibe os produtos em uma grade responsiva e centralizada */

.produto {
  background-color: white; /* Define a cor de fundo dos produtos */
  border: none; /* Remove a borda dos produtos */
  border-radius: 10px; /* Arredonda as bordas dos cartões de produtos */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Adiciona sombra aos cartões de produtos */
  padding: 20px; /* Adiciona preenchimento interno ao cartão do produto */
  text-align: center; /* Centraliza o texto dentro do cartão */
  transition: transform 0.2s; /* Define uma transição suave para transformações */
  width: 210px; /* Define uma largura fixa para os cartões dos produtos */
} /* CARTÃO PRODUTO - Estilo dos cartões dos produtos com sombra e borda */

.produto:hover {
  transform: scale(1.05); /* Aumenta o tamanho do cartão ao passar o mouse */
} /* CARTÃO PRODUTO HOVER - Aumenta ligeiramente o tamanho ao passar o mouse */

.produto img {
  width: 200px; /* Define a largura da imagem do produto para preencher o cartão */
  height: 200px; /* Define a altura fixa da imagem do produto */
  object-fit: cover; /* Cobre a área da imagem sem distorcer */
} /* IMAGEM PRODUTO - Tamanho fixo da imagem do produto com bordas arredondadas */

.produto h3 {
  margin: 10px 0; /* Define a margem do título do produto */
  color: #d4af37; /* Define a cor do título como dourada */
} /* TÍTULO PRODUTO - Estilo dos títulos dos produtos com cor dourada */

.produto p {
  color: #555; /* Define a cor da descrição dos produtos */
} /* DESCRIÇÃO PRODUTO - Cor da descrição dos produtos */

.preco {
  font-size: 1.2em; /* Aumenta o tamanho da fonte do preço */
  color: #d4af37; /* Define a cor do preço como dourada */
  font-weight: bold; /* Define o peso da fonte do preço como negrito */
} /* PREÇO PRODUTO - Estilo dos preços com fonte grande e cor dourada */

button {
  background-color: #d4af37; /* Define a cor de fundo dos botões como dourada */
  color: white; /* Define a cor do texto dos botões como branca */
  border: none; /* Remove a borda padrão do botão */
  padding: 10px 15px; /* Adiciona preenchimento interno ao botão */
  border-radius: 5px; /* Arredonda as bordas do botão */
  cursor: pointer; /* Muda o cursor ao passar sobre o botão */
  transition: background-color 0.3s; /* Define uma transição suave para a cor de fundo */
} /* BOTÕES - Estilo dos botões com cor dourada e bordas arredondadas */

button:hover {
  background-color: #cda03b; /* Muda a cor de fundo do botão ao passar o mouse */
} /* BOTÕES HOVER - Muda a cor do botão ao passar o mouse */

/*footer*/
footer {
  background-color: #cda03b;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.social-media li {
  display: flex;
  align-items: center;
}

.social-media a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-media img {
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

.footer-bottom {
  margin-top: 10px;
}
